<div class="platoniq-header">
    <h1>Hacking Decidim</h1>
    <div class="credits">
        <a href="https://twiter.com/ivanverges"><%= icon "twitter", role: "img", aria_label: "Twitter" %></a>
        ivan@<img src="<%= asset_url("logo_platoniq.svg") %>">.net
    </div>
</div>